<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Places of Interest </a></header>
    <div class="right menu">
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>