<nav class="ui inverted menu">
    <header class="header item"> <a href="/"> Places of Interest </a> </header>
    <div class="right menu">
        <a class="item" href="/signup"> Signup</a>
        <a class="item" href="/login">  Login</a>
        <a class="item" href="/adminLogin"> Admin Login</a>
    </div>
</nav>