{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/Wexford.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Places of Interest in Rosslare</header>
            <p> A Web Application to Register Places of Interest in Rosslare  </p>
            {{> error }}
        </article>
    </div>
</section>